h1 {
    color: red;
}

.screen-container { /* Container da tela toda */
    position: fixed;
    
    padding:0;
    margin:0;
    top:0;
    left:0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    
    background-color: aqua;
}

/* Menu lateral */
.menu{ 
    margin-left: -20%; /* cuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu */
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    justify-content: space-between;
    width: 20%;
}

.menu1 {
    background-color: brown;
}

.menu2 {
    background-color: cadetblue;
}
/* fim Menu lateral */

.chat { /* conteudo do chat */
    background-color: blue;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
}

.chat1 {
    display: flex;
    flex-direction:row;
    height: 10%;
    width: 100%;
    background-color: azure;
    justify-content: space-between;    
}

.tbutton {
    
}

.titulo-chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-left: 5%;

    background-color: aqua;
}

.menuzin {
    text-align: center;
    width: 10%;
    background-color: red;
}

/* BARRA DE CHAT */

.conteudo{
    width: 98%;
    height: 6%;
    border-radius: 5px;
    margin: 1%;

    background-color: aquamarine;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: medium;
}

.input {
    width: 96%;
    margin-left: 1%;
    margin-right: 1%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    word-wrap: break-word;
    font-size: larger;
}
 
.input:focus { 
    outline: none;
}

.send {
    margin-right: 1%;
}

/* FIM BARRA DE CHAT */