body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh; /* Make body full height */
}

.container {
    height: 100%;
    background-color: #f32121;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50%;
    height:90%;
    
    background-color: aqua;
}

.message-area {
    height: 100%;
    /* max-height: ; */
    /* max-height: calc(100% - 60px); Adjust for input area height */
    overflow-y: auto;
    border-style: dashed;
    border-color: black;
    text-align: end;
}

/* INPUTS  ------------------------------------------------------------- */

.input-area {
    position: sticky; /* Change to relative positioning */
    
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease; /* Apply transition to width */
    border-style: dashed;
    border-color: aqua;

    bottom: 0;
    left: 0;
}


.input-area button {
    padding: 8px 15px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.input-bar {
    border-radius: 10px; 
    background-color: aquamarine; 
    width: 100%; 
    padding: 10px; display: flex; 
    justify-content: space-between;

}

#messageInput {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

#messageInput:focus {
    border: none;
}

/* FIM INPUT ------------------------------------------------------------- */

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #444;
    position: fixed;
    top: 0;
    right: -200px; /* Initial position */
    z-index: 1;
    transition: right 0.3s ease; /* Apply transition to right property */
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    transition: margin-right 0.3s ease; /* Apply transition to margin-right */
}

.container.active {
    margin-right: 200px;
    margin-bottom: 60px;
}

.input-area.active {
    width: calc(100% - 400px); /* Subtract double sidebar width when it's active */
}

.sidebar.active {
    right: 0; /* Move sidebar into view */
}


